:root {
  --neutral-100: #F8FAFC;
  --neutral-200: #F1F5F9;
  --neutral-300: #E2E8F0;
  --neutral-400: #90A1B9;
  --neutral-500: #717182;
  --neutral-550: #838384;
  --neutral-600: #62748E;
  --neutral-700: #45556C;
  --neutral-800: #314158;
  --neutral-900: #1D293D;
  --neutral-1000: #0A0A0A;
  --neutral-1100: #030213;

  --green-100: #CBFBF1;
  --green-200: #00BBA7;
  --green-300: #00A63E;
  --green-400: #00786F;
  --green-500: #00C950;
  --green-600: #009689;

  --blue-50: #EFF6FF;
  --blue-100: #DBEAFE;
  --blue-200: #2B7FFF;
  --blue-300: #1447E6;
  --blue-400: #155DFC;

  --purple-100: #F3E8FF;
  --purple-200: #AD46FF;
  --purple-300: #9810FA;
  --purple-400: #F6339A;

  --orange-100: #FEF3C6;
  --orange-200: #FFBA00;
  --orange-300: #BB4D00;
  --orange-400: #E17100;

  --warn: var(--orange-200);
  --white: #FFF;
}
