:root {
  --shadow-xs: 0 1px 2px -1px rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 10%);
  --shadow-sm: 0 2px 4px -2px rgb(0 0 0 / 10%), 0 4px 6px -1px rgb(0 0 0 / 10%);
  --shadow-md: 0 4px 6px -4px rgb(0 0 0 / 10%), 0 10px 15px -3px rgb(0 0 0 / 10%);
  --shadow-lg: 0 25px 50px -12px rgb(0 0 0 / 25%);

  --transition-1: all 0.2s ease-in-out;

  --hover-brightness: brightness(90%);


  --header-height: 65px;
  --header-z-index: 5;

  --navbar-width: 320px;

  --overlay-z-index: 5;
  --navbar-overlay-z-index: 6;
  --navbar-z-index: 7;
  --modal-z-index: 8;
  --loader-z-index: 10;

  --main-bg: linear-gradient(167deg, var(--neutral-100) 0%, var(--blue-50) 100%);

  --toastify-font-family: var(--font-family);

  --toastify-text-color-light: var(--neutral-900);
  --toastify-icon-color-success: var(--green-200);
  --toastify-color-success: var(--green-200);
  --toastify-color-progress-success: linear-gradient(90deg, var(--green-200) 0%, var(--green-600) 100%);
  --toastify-icon-color-error: var(--warn);
  --toastify-color-progress-error: var(--warn);

}