@use '../../../shared/styles/breakpoints' as b;

.Navbar {
  position: fixed;
  z-index: var(--navbar-z-index);
  top: 0;
  left: -320px;

  overflow: auto;

  width: var(--navbar-width);
  height: 100svh;
  border-right: 1px solid var(--neutral-300);

  background: var(--white);

  transition: left 0.3s cubic-bezier(.2, .9, .25, 1);

  &_open {
    left: 0;
    width: 100vw;
  }

  &-Inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-Logo {
    position: relative;

    display: flex;
    gap: 0.75rem;
    align-items: center;

    padding: 1.5rem;
    border-bottom: 1px solid var(--neutral-300);
  }


  &-Icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 14px;

    background: linear-gradient(90deg, var(--green-200) 0%, var(--blue-200) 100%);
  }

  &-CloseButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &-UserMenu {
    padding: 1rem;
    border-bottom: 1px solid var(--neutral-300);

  }

  &-GoalWidget {
    padding: 1rem;
  }

  &-BookWidget {
    padding: 1rem;
  }

  &-StatisticWidget {
    margin-top: auto;
    padding: 1rem;
    border-top: 1px solid var(--neutral-300)
  }

  &-Overlay {
    pointer-events: none;

    position: fixed;
    z-index: var(--navbar-overlay-z-index);
    inset: 0;

    opacity: 0;
    background: rgb(7 12 21 / 32%);

    transition: opacity 0.2s ease;

    &_open {
      pointer-events: auto;
      opacity: 1;
    }
  }
}


@media (min-width: b.$md-breakpoint) {
  .Navbar {
    position: relative;
    left: 0;
    height: auto;
    transition: none;

    &-Overlay {
      display: none;

    }

    &-CloseButton {
      display: none;
    }
  }
}
