@use '../../styles/breakpoints' as b;


.MainLayout {
  display: grid;
  grid-template:
    "header" var(--header-height) "content" 1fr / 1fr;
  height: 100svh;

  &-Navbar {
    @media (min-width: b.$md-breakpoint) {
      grid-area: sidebar;
    }
  }

  &-Header {
    grid-area: header;
    align-items: center;
  }

  &-Content {
    overflow-y: auto;
    grid-area: content;
    height: calc(100svh - var(--header-height));
    padding: 1rem;
  }

  @media (min-width: b.$md-breakpoint) {
    grid-template:
      "sidebar header" var(--header-height) "sidebar content" 1fr / var(--navbar-width) 1fr;
  }
}


@media (min-width: b.$md-breakpoint) {
  .MainLayout {
    grid-template:
      "sidebar header" var(--header-height) "sidebar content" 1fr / var(--navbar-width) 1fr;

    &-Content {
      padding: 2rem;
    }
  }
}

