.AppImage {
  &-Img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-Img_rounded {
    &_10 {
      border-radius: 10px;
    }

    &_14 {
      border-radius: 14px;
    }

    &_16 {
      border-radius: 16px;
    }
  }
}
