.Dots {
  display: flex;
  align-items: center;

  &-Item {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    border-radius: 50%;

    background-color: var(--green-200);

    animation: dots-bounce 1.4s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: -0.32s;
    }

    &:nth-child(2) {
      animation-delay: -0.16s;
    }
  }
}

@keyframes dots-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
