.Button {
  $parent: &;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;

  font: var(--font-2xs);
  font-weight: 500;
  color: var(--white);
  text-align: center;

  box-shadow: var(--shadow-md);

  transition: var(--transition-1);


  &-Content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    visibility: visible;

    transition: opacity 0.2s ease;
  }

  .Button-AddonLeft,
  .Button-AddonRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &_variant {
    &_primary {
      background: linear-gradient(90deg, var(--green-200) 0%, var(--green-600) 100%);
    }

    &_secondary {
      background: linear-gradient(90deg, var(--purple-200) 0%, var(--purple-300) 100%);
    }

    &_accent {
      background: linear-gradient(90deg, var(--green-500) 0%, var(--green-300) 100%);
    }

    &_clear {
      margin: 0;
      padding: 0;
      border: none;

      color: var(--neutral-1000);

      background: none;
      box-shadow: none;
    }

    &_outline {
      width: 101px;
      height: 36px;
      border: 1px solid rgb(0 0 0 / 10%);
      border-radius: 8px;

      background: transparent;
      box-shadow: none;
    }


  }

  &_fullWidth {
    width: 100%;
  }

  &_disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }


  &_loading {
    cursor: not-allowed;
    opacity: 0.8;

    #{$parent}-Content {
      opacity: 0.3;
    }

  }


  &-Spinner {
    position: absolute;

    display: inline-block;

    width: 18px;
    height: 18px;
    border: 3px solid var(--neutral-500);
    border-top-color: var(--white);
    border-radius: 50%;

    transition: opacity 0.3s ease;
    animation: spin 1s linear infinite;
  }

  @media (hover: hover) {
    &:not(#{$parent}_disabled):hover {
      cursor: pointer;
      filter: var(--hover-brightness);
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}