.Flex {
  display: flex;

  &_fullHeight {
    height: 100%;
  }

  &_fullWidth {
    width: 100%;
  }
}

.Flex_direction {
  &_row {
    flex-direction: row;
  }

  &_column {
    flex-direction: column;
  }
}

.Flex_align {
  &_start {
    align-items: flex-start;
  }

  &_center {
    align-items: center;
  }

  &_end {
    align-items: end;
  }

}

.Flex_justify {
  &_start {
    justify-content: flex-start;
  }

  &_center {
    justify-content: center;
  }

  &_between {
    justify-content: space-between;
  }

  &_end {
    justify-content: flex-end;
  }
}

.Flex_wrap {
  &_wrap {
    flex-wrap: wrap;
  }

  &_nowrap {
    flex-wrap: nowrap;
  }
}

.Flex_gap {
  &_4 {
    gap: 0.25rem;
  }

  &_8 {
    gap: 0.5rem;
  }

  &_12 {
    gap: 0.75rem;
  }

  &_16 {
    gap: 1rem;
  }

  &_24 {
    gap: 1.5rem
  }

  &_32 {
    gap: 2rem;
  }

}
