.SignUpForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;

  &-Form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-FormButton {
    display: flex;
    gap: 0.5rem
  }

  &-Link {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }
}