.ProgressBar {
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  appearance: none;

  &_size {
    &_small {
      height: 0.5rem;
    }

    &_medium {
      height: 0.75rem;
    }
  }

  &_variant {
    &_primary {
      &::-webkit-progress-bar {
        border-radius: 16px;
        background: var(--green-100);
        box-shadow: none;
      }

      &::-webkit-progress-value {
        border-color: transparent;
        border-radius: 16px;
        background: linear-gradient(
                        90deg,
                        var(--green-200) 0%,
                        var(--green-600) 100%
        );
        box-shadow: none;
      }

      &::-moz-progress-bar {
        border-color: transparent;
        border-radius: 16px;
        background: linear-gradient(
                        90deg,
                        var(--green-200) 0%,
                        var(--green-600) 100%
        );
      }
    }

    &_secondary {
      &::-webkit-progress-bar {
        border-radius: 16px;
        background: var(--neutral-300);
        box-shadow: none;
      }

      &::-webkit-progress-value {
        border-color: transparent;
        border-radius: 16px;
        background: linear-gradient(90deg, var(--blue-200) 0%, var(--blue-400) 100%);
        box-shadow: none;
      }

      &::-moz-progress-bar {
        border-color: transparent;
        border-radius: 16px;
        background: linear-gradient(90deg, var(--blue-200) 0%, var(--blue-400) 100%);
      }
    }

    &_purple {
      &::-webkit-progress-bar {
        border-radius: 16px;
        background: var(--neutral-300);
        box-shadow: none;
      }

      &::-webkit-progress-value {
        border-color: transparent;
        border-radius: 16px;
        background: linear-gradient(90deg, var(--purple-200) 0%, var(--purple-400) 100%);
        box-shadow: none;
      }

      &::-moz-progress-bar {
        border-color: transparent;
        border-radius: 16px;
        background: linear-gradient(90deg, var(--purple-200) 0%, var(--purple-400) 100%);
      }
    }
  }
}
