.Typography {
  margin: 0;

  &_fullWidth {
    display: block;
    width: 100%;
  }

  &_variant {
    &_primary {
      color: var(--neutral-900);
    }

    &_secondary {
      color: var(--neutral-700);
    }

    &_dark {
      color: var(--neutral-1000);
    }

    &_lightDark {
      color: var(--neutral-800)
    }

    &_warn {
      color: var(--warn)
    }

    &_light {
      color: var(--neutral-600)
    }

    &_white {
      color: var(--white)
    }

    &_accent {
      color: var(--purple-300)
    }

    &_accent2 {
      color: var(--orange-200)
    }

    &_accent3 {
      color: var(--orange-300)
    }

    &_accent4 {
      color: var(--orange-400)
    }

    &_accent5 {
      color: var(--blue-400)
    }

    &_accent6 {
      color: var(--green-300)
    }

  }

  &_size {
    &_3xs {
      font: var(--font-3xs);
    }

    &_2xs {
      font: var(--font-2xs);
    }

    &_xs {
      font: var(--font-xs);
    }

    &_sm {
      font: var(--font-sm);
    }

    &_md {
      font: var(--font-md);
    }

    &_lg {
      font: var(--font-lg);
    }

    &_xl {
      font: var(--font-xl);
    }

    &_2xl {
      font: var(--font-2xl);
    }

  }

  &_weight {
    &_normal {
      font-weight: 400;
    }

    &_medium {
      font-weight: 500;
    }

    &_semibold {
      font-weight: 600;
    }


  }

  &_align {
    &_left {
      text-align: left;
    }

    &_right {
      text-align: right;
    }

    &_center {
      text-align: center;
    }
  }


  &_break {
    hyphens: auto;
    overflow-wrap: break-word;
  }

  &_gutterBottom {
    display: block;
    margin-bottom: 0.5rem;
  }
}