.LastRated {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;


  &-ItemInner {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    padding: 1rem;

    background: rgb(255 255 255 / 60%);

    &::before {
      content: "•";
       width: 0.5rem;
    }



    &_status_toRead::before {
      color: var(--orange-400);
    }

    &_status_read::before {
      color: var(--green-500);
    }

    &_status_reading::before {
      color: var(--blue-400);
    }
  }

  &-Rating {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: auto;
  }
}