@use "src/app/styles/breakpoints" as b;

.SignInPage {
  width: 100%;
  height: 100%;
  padding: 2rem;

  &-Content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    justify-self: center;

    width: 1152px;
    max-width: 100%;
    height: 100svh;

  }

  &-Form {
    place-self: center center;
    width: 100%;

  }

  &-InfoPanel {
    align-self: center;
  }
}