.AppLink {
  text-decoration: none;
  transition: var(--transition-1);

  &:visited {
    color: inherit;
  }

  &_variant {
    &_primary {
      color: var(--neutral-900);
    }

    &_secodary {
      color: var(--neutral-700);
    }
  }

  &_outline {
    padding: 0.8125rem;
    border: 1px solid var(--neutral-300);
    border-radius: 10px;
    text-align: center;
  }


  @media (hover: hover) {
    &:hover {
      filter: var(--hover-brightness);
    }
  }
}
